body{
    background-image: url("fond.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#titre {
    text-align: center;
    color: white;
}

.carousel-inner{
    height: 800px;
    margin-top: 1em;
    border-radius: 10px;
}

.carousel-caption p {
    font-size: 25px;
}

.carousel-caption h3 {
    font-size: 40px;
}